/.vscode/
.idea
project/.phpunit.cache
project/node_modules
project/public/build
project/public/hot
project/public/storage
project/storage/*.key
project/vendor
project/.env
.env.backup
.env.production
project/.phpunit.result.cache
project/Homestead.json
project/Homestead.yaml
auth.json
project/npm-debug.log
project/yarn-error.log
/.fleet
/.idea
/.vscode
.vscode