APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

# =========================
# Database (Docker)
# =========================
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=laravel
DB_PASSWORD=secret

# =========================
# Cache / Session / Queue
# =========================
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

# =========================
# Redis (optional)
# =========================
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# =========================
# Mail (Mailpit / Mailhog)
# =========================
MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME="${APP_NAME}"

# =========================
# Vite
# =========================
VITE_APP_NAME="${APP_NAME}"
